<a href="https://colab.research.google.com/github/Ab313/test-colab/blob/master/template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Sales

In [ ]:
revenue = 10000
tax = 0.19
income = revenue * tax
income

1900.0

##Summary

In [ ]:
import numpy as np
np.__version__

'1.19.5'

In [ ]:
import imageai

##Markdown


Example of *markdown*

Example of **markdown**

Example of __markdown__

Example of `markdown`

```
Example of markdown
```


>Python
>>>Python

An ordered list:
1. One
2. Two
3. Three

An unordered list:
* One
* Two
* Three


[Google](https://www.google.com)

$y = x^2$

In [ ]:
lang = 'Python'
version = '3.8'
print(f'I am learning {lang} version {version}')

I am learning Python version 3.8

In [ ]:
filename = 'view.jpg'
print(filename[-3:])
print(filename[5:])

jpg
jpg

In [ ]:
string = '1 0 0 1 0 1'
binary = string[::2]
number = int(binary, 2)
print(f'Number found: {number}')

Number found: 37

In [ ]:
print(binary)

100101

In [ ]:
string[::2]

'100101'

In [ ]:
text = 'Python Course'
print (text[::-1 ])

esruoC nohtyP

In [ ]:
print (text[-1])

e

In [ ]:
print (text[-2:])

se

In [ ]:
print(text[-1:])

e

In [ ]:
print(text[:-2])

Python Cour

In [ ]:
print(text[:2])

Py

In [ ]:
print(text[-1]) # last item in the array

e

In [ ]:
print(text[-2:]) # last two items in the array

se

In [ ]:
print(text[:-2]) # everything except the last two items

Python Cour

In [ ]:
print(text[::-1]) # all items in the array, reversed

esruoC nohtyP

In [ ]:
print(text[1::-1]) # the first two items, reversed

yP

In [ ]:
print(text[:-3:-1]) # the last two items, reversed

es

In [ ]:
print(text[-3::-1]) # everything except the last two items, reversed

ruoC nohtyP

In [ ]:
text = 'python is a popular programming language.'
print(text.capitalize())

Python is a popular programming language.

In [ ]:
code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'
code1[-4:]

'2020'

In [ ]:
codes = [code1, code2]
for code in codes:
  if code[-4:] == '2020':
    print(code)

FVNISJND-XX-2020

In [ ]:
num = 34
print(str(num).zfill(6))

000034

In [ ]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
name = url.split('/')[-1]
name = name.replace('-', ' ')
print(name)

sciezka data scientist machine learning engineer

In [ ]:
subjects = {'mathematics', 'biology'}
subjects.add('english')
print(subjects)

{'english', 'mathematics', 'biology'}

In [ ]:
text = 'Programming in python.'
vowels = {'a', 'e', 'i', 'o', 'u'}
text = text.lower()
print(text)

programming in python.

In [ ]:
text = text.replace(' ', '')
text = text.replace('.', '')
vowels = {'a', 'e', 'i', 'o', 'u'}
letters = set(text)
consonants = letters.difference(vowels)
print(f'Number of items: {len(consonants)}')
print(text)

Number of items: 8
programminginpython

In [ ]:
A = {2, 4, 6, 8}
B = {4, 10}
sym_diff = A.symmetric_difference(B)
print(f'Symmetric difference: {sym_diff}')

Symmetric difference: {2, 6, 8, 10}

In [ ]:
ad1_id = {'001', '002', '003'}
ad2_id = {'002', '003', '007'}
result = ad1_id.symmetric_difference(ad2_id)
print(f'Selected ID: {result}')

Selected ID: {'007', '001'}

In [ ]:
is_clicked = {'9001', '9002', '9005'}
is_bought = {'9002', '9004', '9005'}
result = is_clicked.intersection(is_bought)
print(f'Customer ID: {result}')

Customer ID: {'9002', '9005'}

In [ ]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
result = dji1 + dji2
print(result)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

In [ ]:
result = (dji1, dji2)

In [ ]:
print(result)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [ ]:
members = (('Kate', 23), ('Tom', 19))
result = (members[0], ('John', 26), members[1])

In [ ]:
print(result)

(('Kate', 23), ('John', 26), ('Tom', 19))

In [ ]:
default = ('YES', 'NO', 'NO', 'YES', 'NO')
print(default.count('YES'))

2

In [ ]:
names =('Monica', 'Tom', 'John','Michael')
result = tuple(sorted(names))

In [ ]:
print(result)

('John', 'Michael', 'Monica', 'Tom')

In [ ]:
print(tuple(sorted(names)))

('John', 'Michael', 'Monica', 'Tom')

In [ ]:
print(sorted(names))

['John', 'Michael', 'Monica', 'Tom']

In [ ]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))
asc = tuple(sorted(info, key=lambda item: item[1]))
desc = tuple(sorted(info, key=lambda item: item[1], reverse=True))

In [ ]:
print(asc)
print(desc)

(('John', 18), ('Monica', 19), ('Tom', 21))
(('Tom', 21), ('Monica', 19), ('John', 18))

In [ ]:
stocks = (('Apple Inc', ('AAPL.US', 310)), ('Microsoft Corp', ('MSFT.US', 184)))
print(stocks[0][1][0])

AAPL.US

In [ ]:
cities = ['Los Angeles', 'New York', 'Chicago']
cities.append('Houston')
print(cities)

['Los Angeles', 'New York', 'Chicago', 'Houston']

In [ ]:
idx = ['001', '002', '001', '003', '001']
print(f"Ocurrence of 001={idx.count('001')}")

Ocurrence of 001=3

In [ ]:
text = 'Python programming'
text = text.lower()
text = text.replace(' ', '')
result = list(set(text))
print(sorted(result))
result.sort()
print(result)

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']
['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [ ]:
text = 'Python programming'
text = text.lower()
characters = list(set(text))
characters.remove(' ')
characters.sort()
print(characters)

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [ ]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0,'phone.jpg')
filenames.remove('ball.png')
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

In [ ]:
day1 = ['3984', '9042', '4829', '2380']
day2 = ['4231', '5234', '1345', '2455']
#result = list(tuple(day1)+tuple(day2))
day1.extend(day2)

In [ ]:
print(day1)

['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

In [ ]:
techs = ('python', 'java', 'sql', 'aws')
print(tuple(sorted(techs)))

('aws', 'java', 'python', 'sql')

In [ ]:
hashtags = ['summer', 'time', 'vibes']
print('#'+'#'.join(hashtags))

#summer#time#vibes

In [ ]:
capitals = {'USA':'Washington', 'Germany':'Berlin', 'Austria':'Vienna'}
print(capitals)

{'USA': 'Washington', 'Germany': 'Berlin', 'Austria': 'Vienna'}

In [ ]:
print(capitals.keys())

dict_keys(['USA', 'Germany', 'Austria'])

In [ ]:
print(capitals.items())

dict_items([('USA', 'Washington'), ('Germany', 'Berlin'), ('Austria', 'Vienna')])

In [ ]:
print(capitals.get('Austria'))

Vienna

In [ ]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
stocks.get('AAPL.US')

{'Apple Inc': 310}

In [ ]:
print(stocks['AAPL.US'])

{'Apple Inc': 310}

In [ ]:
print(stocks['MSFT.US']['Microsoft Corp'])

184

In [ ]:
stocks['MSFT.US']['Microsoft Corp'] = 190
print(stocks)

{'MSFT.US': {'Microsoft Corp': 190}, 'AAPL.US': {'Apple Inc': 310}, 'MMM.US': {'3M Co': 148}}

In [ ]:
print(stocks['MSFT.US'])

{'Microsoft Corp': 190}

In [ ]:
stocks['V.US'] = {'Visa Inc': 185}

In [ ]:
print(stocks)

{'MSFT.US': {'Microsoft Corp': 190}, 'AAPL.US': {'Apple Inc': 310}, 'MMM.US': {'3M Co': 148}, 'V.US': {'Visa Inc': 185}}

In [ ]:
print(stocks.values())

dict_values([{'Microsoft Corp': 190}, {'Apple Inc': 310}, {'3M Co': 148}, {'Visa Inc': 185}])

In [ ]:
stocks['V.US'] = {'Visa Inc': 185}
print(stocks.values())

dict_values([{'Microsoft Corp': 190}, {'Apple Inc': 310}, {'3M Co': 148}, {'Visa Inc': 185}])

In [ ]:
tickers = [
    'AAPL.US', 'AXP.US', 'BA.US', 'CAT.US',
    'CSCO.US', 'CVX.US', 'DIS.US', 'DOW.US',
    'GS.US', 'HD.US', 'IBM.US', 'INTC.US'
]
print(tuple(tickers))

('AAPL.US', 'AXP.US', 'BA.US', 'CAT.US', 'CSCO.US', 'CVX.US', 'DIS.US', 'DOW.US', 'GS.US', 'HD.US', 'IBM.US', 'INTC.US')

In [ ]:
tickers_tuples = []
for i in range(len(tickers)):
  #print(f"i={i}, {tickers[0]}")
  tickers_tuples.append((i,tickers[i]))
print(tickers_tuples)
print(list(enumerate(tickers)))

[(0, 'AAPL.US'), (1, 'AXP.US'), (2, 'BA.US'), (3, 'CAT.US'), (4, 'CSCO.US'), (5, 'CVX.US'), (6, 'DIS.US'), (7, 'DOW.US'), (8, 'GS.US'), (9, 'HD.US'), (10, 'IBM.US'), (11, 'INTC.US')]
[(0, 'AAPL.US'), (1, 'AXP.US'), (2, 'BA.US'), (3, 'CAT.US'), (4, 'CSCO.US'), (5, 'CVX.US'), (6, 'DIS.US'), (7, 'DOW.US'), (8, 'GS.US'), (9, 'HD.US'), (10, 'IBM.US'), (11, 'INTC.US')]

In [ ]:
print(enumerate(tickers))

<enumerate object at 0x7f7edd064690>

In [ ]:
for count, value in enumerate(tickers):
  print(count, value)

0 AAPL.US
1 AXP.US
2 BA.US
3 CAT.US
4 CSCO.US
5 CVX.US
6 DIS.US
7 DOW.US
8 GS.US
9 HD.US
10 IBM.US
11 INTC.US

In [ ]:
project_ids = {
    '01': 'open', 
    '03': 'in progress',
    '05': 'in progress',
    '04': 'completed'
}
result = list(set(project_ids.values()))
result.sort()

In [ ]:
print(result)

['completed', 'in progress', 'open']

In [ ]:
stats = {'site': 'e-smartdata.org', 'traffic': 100, 'type': 'organic'}
del stats['traffic']

In [ ]:
print(stats)

{'site': 'e-smartdata.org', 'type': 'organic'}

In [ ]:
users = {'001': 'Mark', '002': 'Monica', '003': 'Jacob'}
users.get('004', 'indefinite')

'indefinite'

In [ ]:
filename = '01012020_sales.xlsx'
if filename[-4:] == 'xlsx':
  print('YES')
else:
  print('NO')

YES

In [ ]:
code = 'DSVNDOICSN'
if code.isupper():
  print('YES')
else:
  print('NO')

YES

In [ ]:
number = 1.0
if isinstance(number, int):
  print('YES')
else:
  print('NO')

NO

In [ ]:
password = 'cskdnjcasa#!'
if len(password) >= 11:
  print('Password correct')
else:
  
    print('Password too short')

Password correct

In [ ]:
project_ids = ['02134', '24253']
project_id = '02135'
if project_ids.count(project_id) == 0:
  project_ids.append(project_id)
print(project_ids)

['02134', '24253', '02135']

In [ ]:
item = '001'
items = ['001', '000', '003', '005', '006']
if items.count(item) > 0:
  items.remove(item)
print(items)

['000', '003', '005', '006']

In [ ]:
result = []
for i in range(10, 100):
  if i % 11 == 0:
    result.append(str(i))
print(','.join(result))

11,22,33,44,55,66,77,88,99

In [ ]:
result = []
for i in range(10, 89):
  if i % 11 == 0 and i % 3 != 0:
    result.append(str(i))
print(','.join(result))

11,22,44,55,77,88

In [ ]:
result = []
items = [1, 3, 4, 5, 6, 9, 10, 17, 23, 24]
for i in items:
  if i % 2 ==0:
    result.append(i)
print(result)

[4, 6, 10, 24]

In [ ]:
items = [1, 5, 3, 2, 2, 4, 2, 4]
sorted(list(set(items)))

[1, 2, 3, 4, 5]

In [ ]:
text = 'Python is a very popular programming language'
text = text.lower()
result = []
items = text.split(' ')
for i, value in enumerate(items):
  if i < 4:
    result.append(value)
print(result)

['python', 'is', 'a', 'very']

In [ ]:
items = ['x', 'y', 'z', 'y', 'x', 'y', 'y', 'z', 'x']
result = {'x':items.count('x'), 'y':items.count('y'), 'z':items.count('z')}
print(result)

{'x': 3, 'y': 4, 'z': 2}

In [ ]:
freq = {}
for item in items:
  if item not in freq.keys():
    freq[item] = 1
  else:
    freq[item] += 1
print(freq)

{'x': 3, 'y': 4, 'z': 2}

In [ ]:
text = """Python is powerful... and fast plays well with others runs everywhere is friendly & easy to learn is Open These are some of the reasons people who use Python would rather not use anything else"""
text = text.lower()
text = text.replace('...', '')
text = text.replace('&', '')
#text = text.replace('\n', ' ')
items = text.split(' ')
result = []
for item in items:
  if len(item) > 6:
    result.append(item)
print(result)

['powerful', 'everywhere', 'friendly', 'reasons', 'anything']

In [ ]:
words = text.split()
words = [word.lower() for word in words]
words = [word.replace('.', '').replace(',', '') for word in words]
words = [word for word in words if len(word) > 6]
print(words)

['powerful', 'everywhere', 'friendly', 'reasons', 'anything']

In [ ]:
gaming = {
    '11B': 362.5,
    'CDR': 297.0,
    'CIG': 0.85,
    'PLW': 318.0,
    'TEN': 300.0
}

for i, value in gaming.items():
  if value > 100.00:
    print(i)

11B
CDR
PLW
TEN

In [ ]:
names = ['Jack', 'Leon', 'Alice', '32-3c', 'Bob']
for name in names:
  name = str(name)
  if name.isalpha():
    print(f"Hello {name}")

Hello Jack
Hello Leon
Hello Alice
Hello Bob

In [ ]:
list1 = [1, 2, 0]
list2 = [4, 5, 6, 1]
list1_set = set(list1)
list2_set = set(list2)
print(list(list1_set.intersection(list2_set)))
result = list(set(list1) & set(list2))
print(result)
if len(result) > 0:
  print(True)
else:
  print(False)

[1]
[1]
True

In [ ]:
print(result)

[1]

In [ ]:
list1 = [1, 2, 0]
list2 = [4, 5, 6, 1]
result = False
 
for item1 in list1:
    if item1 in list2:
        result = True
        break
 
print(result)

True

In [ ]:
number = 100
 
if number > 1:
    for i in range(2, number):
        if number % i == 0:
            print(f'{number} - not a prime number')
            break
    else:
        print(f'{number} - prime number')
else:
    print(f'{number} - not a prime number')

100 - not a prime number

In [ ]:
for num in range(2,10):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
       print (num)

2
3
5
7

In [ ]:
def prime_generator(end):
  for n in range(2, end):     # n starts from 2 to end
    for x in range(2, n):   # check if x can be divided by n
      if n % x == 0:      # if true then n is not prime
        break
    else:                   # if x is found after exhausting all values of x
      yield n  

g = prime_generator(10)  
print(list(g))

[2, 3, 5, 7]

In [ ]:
gaming = {
    '11B': [362.5, 'PLN'],
    'CDR': [74.25, 'USD'],
    'CIG': [0.85, 'PLN'],
    'PLW': [79.5, 'USD'],
    'TEN': [300.0, 'PLN']
}
 
for ticker, info in gaming.items():
    if info[1] == 'PLN':
        continue
    info[0] = info[0] * 4.0
    info[1] = 'PLN'
print(gaming)

{'11B': [362.5, 'PLN'], 'CDR': [297.0, 'PLN'], 'CIG': [0.85, 'PLN'], 'PLW': [318.0, 'PLN'], 'TEN': [300.0, 'PLN']}

In [ ]:
is_prime = False
result = []
for n in range(2, 30):  
    is_prime = True   
    for x in range(2, n):   
      if n % x == 0:    
        is_prime = False
        break
    if is_prime == True:
       result.append(str(n))
                     
        
sre = ','.join(result)
print(sre)  

result = []
for num in range(2,30):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
            break
    if prime:
      result.append(str(num))
sre = ','.join(result)
print(sre)

2,3,5,7,11,13,17,19,23,29
2,3,5,7,11,13,17,19,23,29

In [ ]:
for num in range(2,3):
  print(num)

2

In [ ]:
list1 = [4, 5, 6, 1]
print(list1[-1:])

[1]

In [ ]:
content = ['date, Open, High,Low,Close,Volume', '2020-03-02,305,324.5,283.5,310,64081','2020-03-03,325.5,340.5,320,340.5,55496']
volumes = [line.split(',')[-1] for line in content][1:]

In [ ]:
print(volumes)

['Volume', '64081', '55496']

In [ ]:
line = 'date, Open, High,Low,Close,Volume'
print(line.split(',')[-1])

Volume

##Learning Slicing

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
tpl0 = tuple(lst)
tpl = (1,2,3,4,5,6,7,8,9,10)
s = 'Welcome to simplilearn'
print(lst)
print(tpl)
print(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Welcome to simplilearn

In [ ]:
print('0=',lst[0])
print('9=',lst[9])
print('5=',lst[5])
print('-3=',lst[-3])

0= 1
9= 10
5= 6
-3= 8

In [ ]:
print(lst[len(lst)-1])

10

In [ ]:
lst[-1]

10

In [ ]:
print('[0:3]=',lst[0:3])
print('[3:9]=',lst[3:9])
print('[3:10]=',lst[3:10])
print('[0:-1]=',lst[0:-1])
print('[0:]=',lst[0:])
print('[-3:-1]=',lst[-3:-1])
print('[:]=',lst[:])

[0:3]= [1, 2, 3]
[3:9]= [4, 5, 6, 7, 8, 9]
[3:10]= [4, 5, 6, 7, 8, 9, 10]
[0:-1]= [1, 2, 3, 4, 5, 6, 7, 8, 9]
[0:]= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-3:-1]= [8, 9]
[:]= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print('[::2]=',lst[::2]) #step = 2
print('[::-2]=',lst[::-2])
print('[-2::-2]=',lst[-2::-2])
print('[::-1]=',lst[::-1]) #reverse
print('tuple reverse [::-1]=',tpl[::-1]) #reverse tuple

[::2]= [1, 3, 5, 7, 9]
[::-2]= [10, 8, 6, 4, 2]
[-2::-2]= [9, 7, 5, 3, 1]
[::-1]= [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
tuple reverse [::-1]= (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
welcome = 'Welcome to simplilearn'
print(welcome[0])
print(welcome[11:])
print(welcome[::-1]) #reverse string

W
simplilearn
nraelilpmis ot emocleW

In [ ]:
mySlice = slice(1,5,2)
print(lst)
print(lst[mySlice])
mySlice = slice(-1,-12,-1)
print('lst',lst)
print(lst[mySlice])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4]
lst [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
mySlice = slice(-1,-12,-1)
print(welcome)
print(welcome[mySlice])

Welcome to simplilearn
nraelilpmis

In [ ]:
s = input('Enter a string: ') # Welcome to simplilearn
sub = input('Enter a substring: ') # simplilearn
print(s.find(sub))
lstr = len(s)
lsub = len(sub)
print(lstr,lsub)

Enter a string: Welcome to simplilearn
Enter a substring: simplilearn
11
22 11

##Exercices

In [ ]:
content = ['date, Open, High,Low,Close,Volume', '2020-03-02,305,324.5,283.5,310,64081','2020-03-03,325.5,340.5,320,340.5,55496']
volumes = [line.split(',')[-1] for line in content][1:]
volumes = [int(vol) for vol in volumes]
max_vol = max(volumes)
print(f'Max Vol: {max_vol}')

Max Vol: 64081

In [ ]:
data = [(line.split(',')[0], line.split(',')[-1]) for line in content][1:]
data = [(val[0], int(val[1])) for val in data]
max_vol = max([val[1] for val in data])
max_date = list(filter(lambda val: val[1] == max_vol, data))[0][0]
print(f'Date: {max_date}')

Date: 2020-03-02

In [ ]:
ticker = ('TEN', 'PLW', 'CDR')
full_name = ('Ten Square Games', 'Playway', 'CD Projekt')
 
print(list(zip(ticker, full_name)))

[('TEN', 'Ten Square Games'), ('PLW', 'Playway'), ('CDR', 'CD Projekt')]

In [ ]:
items = (' ', '0', 0.1, True,0)
print(all(items))

False

In [ ]:
items = ('', 0.0, 0, False)
print(any(items))

False

In [ ]:
number = 234
binary = bin(number)
print(binary)
binary = binary[2:]
print(binary)
print(binary.count('1'))

0b11101010
11101010
5

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)
factorial(10)

3628800

In [ ]:
 def count_str(items):
    total = 0
    for item in items:
        if isinstance(item, str):
            total += 1
    return total
lst = ['p',2,4.3,None]
print(count_str(lst))

1

In [ ]:
def remove_duplicates(items):
    return list(set(items))
lst = ['p',2,2,2,4.3,None]
remove_duplicates(lst)

[2, None, 4.3, 'p']

In [ ]:
def is_distinct(items):
    return len(items) == len(set(items))
is_distinct(lst)
lst = ['p',2,4.3,None]
is_distinct(lst)

True

In [ ]:
def function(idx, l=[]):
    for i in range(idx):
        l.append(i ** 3)
    print(l)
function(3)
function(5, ['a', 'b', 'c'])
function(6)

[0, 1, 8]
['a', 'b', 'c', 0, 1, 8, 27, 64]
[0, 1, 8, 0, 1, 8, 27, 64, 125]

In [ ]:
def function(*args, **kwargs):
    print(args, kwargs)
function(3,4)
function(x=3,y=4)
function(1,2,x=3,y=4)

(3, 4) {}
() {'x': 3, 'y': 4}
(1, 2) {'x': 3, 'y': 4}

In [ ]:
def is_palindrome(string):
    inverse = string[::-1]
    if string == inverse:
        return True
    else:
        return False
is_palindrome('adama')
is_palindrome('laval')

True

In [ ]:
stocks = ['playway', 'boombit', 'cd projekt']
print(list(map(lambda stock: len(stock), stocks)))

[7, 7, 10]

In [ ]:
def sort_list(items):
    return sorted(items, key=lambda item: item[1])
sort_list([(1,3),(4,1),(4,2),(0,7)])

[(4, 1), (4, 2), (1, 3), (0, 7)]

In [ ]:
func_2 = lambda x, y: x + y + 2

In [ ]:
items = [(3, 4), (2, 5), (1, 4), (6, 1)]
items.sort(key=lambda item: item[0]**2 + item[1]**2)

In [ ]:
print(items)

[(1, 4), (3, 4), (2, 5), (6, 1)]

In [ ]:
stocks = [
    {'index': 'mWIG40', 'name': 'TEN', 'price': 304},
    {'index': 'mWIG40', 'name': 'PLW', 'price': 309},
    {'index': 'sWIG80', 'name': 'BBT', 'price': 22}
]
stocks.sort(key=lambda stock: stock['price'])
print(stocks)

[{'index': 'sWIG80', 'name': 'BBT', 'price': 22}, {'index': 'mWIG40', 'name': 'TEN', 'price': 304}, {'index': 'mWIG40', 'name': 'PLW', 'price': 309}]

In [ ]:
print([stock for stock in stocks if stock['index']=='mWIG40'])
print(list(filter(lambda item: item['index'] == 'mWIG40', stocks)))

[{'index': 'mWIG40', 'name': 'TEN', 'price': 304}, {'index': 'mWIG40', 'name': 'PLW', 'price': 309}]
<filter object at 0x7f89fef60990>

In [ ]:
stocks = [
    {'index': 'mWIG40', 'name': 'TEN', 'price': 304},
    {'index': 'mWIG40', 'name': 'PLW', 'price': 309},
    {'index': 'sWIG80', 'name': 'BBT', 'price': 22}
]
list(map(lambda stock: stock['index']=='mWIG40', stocks))

[True, True, False]

In [ ]:
timeit '[print(x) for x in range(100)]'

100000000 loops, best of 5: 12.7 ns per loop

In [ ]:
#remove - from each item
items = ['P-1', 'R-2', 'D-4', 'F-6']
print(list(map(lambda item: item.replace('-', ''), items)))

['P1', 'R2', 'D4', 'F6']

In [ ]:
num1 = [4, 2, 6, 2, 11]
num2 = [5, 2, 3, 3, 9]
 
print(list(map(lambda x, y: x % y, num1, num2)))

[4, 0, 0, 2, 2]

In [ ]:
# implement a generator that select names of file with extension '.txt'
fnames = ['data1.txt', 'data2.txt', 'data3.txt', 'view.jpg']
def file_gen(fnames):
  for name in fnames:
    if '.txt' in name:
      yield name

list(file_gen(fnames))

['data1.txt', 'data2.txt', 'data3.txt']

In [ ]:
#implement a generator called enum() that works just like the enumerate() built-in function
lst = ['TEN','CDR','BBT']
def enum(lst):
  cpt = 0
  for item in lst:
    yield (cpt,item)
    cpt += 1
print(list(enum(lst)))

[(0, 'TEN'), (1, 'CDR'), (2, 'BBT')]

In [ ]:
def dayname(index):
    days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    yield days[index - 1]
    yield days[index]
    yield days[(index + 1) % 7]
print(list(dayname(0)))

['Sun', 'Mon', 'Tue']

In [ ]:
omega = {(i, j) for i in range(1, 7) for j in range(1, 7)}

In [ ]:
print(omega)

{(1, 3), (6, 6), (5, 6), (2, 1), (6, 2), (1, 6), (5, 1), (2, 5), (1, 2), (3, 3), (5, 5), (4, 4), (6, 3), (1, 5), (3, 6), (2, 2), (4, 1), (1, 1), (6, 4), (3, 2), (2, 6), (5, 4), (4, 5), (5, 2), (1, 4), (2, 3), (4, 2), (6, 5), (3, 5), (5, 3), (4, 6), (6, 1), (3, 1), (4, 3), (3, 4), (2, 4)}

In [ ]:
omega = {(i, j) for i in range(1, 7) for j in range(1, 7)}
sum_gt_10 = {pair for pair in omega if pair[0] + pair[1] > 10}
print(f'Probability: {len(sum_gt_10) / len(omega):.2f}')

Probability: 0.08

In [ ]:
desc = "Playway: Playway is a producer of computer games."
desc = desc.lower()
desc = desc.replace(':', '')
desc = desc.replace('.', '')
words = desc.split()
print(desc)
print(words)

playway playway is a producer of computer games
['playway', 'playway', 'is', 'a', 'producer', 'of', 'computer', 'games']

In [ ]:
len(list(set(words)))

7

In [ ]:
data = dict(zip(('a', 'b', 'c', 'd', 'e', 'f'),(1, 2, 3, 4, 5, 6)))
print(data)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:

result = [[item[0], item[1]] for item in data.items()]
print(result)

[['a', 1], ['b', 2], ['c', 3], ['d', 4], ['e', 5], ['f', 6]]

In [ ]:
{item:item**2 for item in range(1,8)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
import calendar
#print(calendar.calendar(2020))
from datetime import date
 
date1 = date(2020, 6, 1)
date2 = date(2020, 7, 18)
diff = date2 - date1
print(diff)

47 days, 0:00:00

In [ ]:
import re
 
string = 'Python 3.8'
result = re.findall(pattern=r"\d", string=string)
print(result)

['3', '8']

In [ ]:
import re
 
string = '!@#$%^&45wc'
result = re.findall(pattern=r"\w", string=string)
print(result)

['4', '5', 'w', 'c']

In [ ]:
import re
 
raw_text = "Send an email to info@template.com or sales-info@template.it"
result = re.findall(r"[\w\.-]+@[\w\.-]+", raw_text)
print(result)

['info@template.com', 'sales-info@template.it']

In [ ]:
import re
 
text = 'Programming in Python - from A to Z'
result = re.split(pattern=r"\s+", string=text)
print(result)

['Programming', 'in', 'Python', '-', 'from', 'A', 'to', 'Z']

In [ ]:
import string
 
print(string.ascii_letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [ ]:
import random
 
random.seed(12)
 
items = ['python', 'java', 'sql', 'c++', 'c']
choice = random.choice(items)
print(choice)

c++

In [ ]:
import random
 
random.seed(15)
 
items = ['python', 'java', 'sql', 'c++', 'c']
random.shuffle(items)
print(items)

['c', 'c++', 'sql', 'python', 'java']

In [ ]:
import json
 
stocks = {'PLW': 360.0, 'TEN': 320.0, 'CDR': 329.0}
result = json.dumps(stocks, sort_keys=True, indent=4)
print(result)

{
    "CDR": 329.0,
    "PLW": 360.0,
    "TEN": 320.0
}

In [ ]:
y_true = [0, 0, 1, 1, 0, 1, 0]
y_pred = [0, 0, 1, 0, 0, 1, 0]
 
def accuracy(y_true, y_pred):
    counter = 0
    for i, j in zip(y_true, y_pred):
        if i == j:
            counter += 1
    return round(counter / len(y_true), 4)
 
print(accuracy(y_true, y_pred))

0.8571

In [ ]:
list(zip(y_true, y_pred))

[(0, 0), (0, 0), (1, 1), (1, 0), (0, 0), (1, 1), (0, 0)]

In [ ]:
items = [[1,2,3],[4,5,6],[7,8,9]]
def flatten(items):
    result = []
    for item in items:
        result.extend(item)
    return result
flatten(items)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def transfer_zeros(items):
    result = []
    counter = 0
    for item in items:
        if item == 0:
            counter += 1
        else:
            result.append(item)
    result.extend([0] * counter)
    return result

lst = [3,4,0,2,0,5,1,6,2]
def transfer_zeros(items):
    result = []
    counter = 0
    for item in items:
        if item == 0:
            counter += 1
        else:
            result.append(item)
    result.extend([0] * counter)
    return result
transfer_zeros(lst)

[3, 4, 2, 5, 1, 6, 2, 0, 0]

In [ ]:
def euclidean_distance(coord1, coord2):
    squared_diff = [(i - j)**2 for i, j in zip(coord1, coord2)]
    return (sum(squared_diff)) ** 0.5
euclidean_distance([0, 3], [4,0])

5.0

In [ ]:
def arange(start, stop, step=1):
    result = []
    for i in range(start, stop, step):
        result.append(i)
    return result
arange(0,10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def concat(l1, l2):
    result = []
    for i, j in zip(l1, l2):
        result.append([i[0], j[0]])
    return result
l1 = [[1],[2]]
l2 = [[3],[4]]
concat(l1, l2)

[[1, 3], [2, 4]]

In [ ]:
def identity(n):
    array = [[0]*n for i in range(n)]
    for idx, item in enumerate(array):
        item[idx] = 1
    return array
#identity(2)
#identity(3)
identity(4)

[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]

In [ ]:
def fill_value(height, width, value):
    return [[value] * width for i in range(height)]
fill_value(height=2, width=3, value=255)

[[255, 255, 255], [255, 255, 255]]

In [ ]:
fill_value(4,2,'a')

[['a', 'a'], ['a', 'a'], ['a', 'a'], ['a', 'a']]

In [ ]:
# trace of a matrix
def trace(array):
    total = 0
    for idx, item in enumerate(array):
        total += item[idx]
    return total
trace([[1]])
trace([[1,2],[4,2]])

3

In [ ]:
def dot_product(vec1, vec2):
    return sum([v * w for v, w in zip(vec1, vec2)])
dot_product([1,2],[5,2])
vec1 = [1,2]
vec2 = [5,2]
[v * w for v, w in zip(vec1, vec2)]

[5, 4]

In [ ]:
lst = [1,None, None, 5, None,2]
lst.count(None)
def count_none(items):
    counter = 0
    for item in items:
        if not item:
            counter += 1
    return counter
count_none(lst)

3

In [ ]:
lst = [4,5,2,9,5,2,8,2,8,10]
max(lst)

10

In [ ]:
def top_n(lst, n):
  max_ = -1
  for n in range(0,n):
    max_ = max(lst)
    yield max_
    lst.remove(max_)
print(list(top_n(lst,3)))

[10, 9, 8]

In [ ]:
def top_n2(items, n):
    items.sort(reverse=True)
    return items[:n]
lst = [4,5,2,9,5,2,8,2,8,10]
print(list(top_n2(lst,3)))

[10, 9, 8]

##Boats to save people
You are trying to add people in safety boats


*   The maximu no. of people a boat can carry is 2
*   Every individual person has a weight lower than or equal to limit
*   Worst case scenario is that it would take as many boats as there are people

In [ ]:
from typing import List

class Solution:
  def numberRescueBoats(self, people: List[int], limit:int) -> int:
    people.sort()
    left = 0
    right = len(people)-1
    boats_number = 0

    while (left <= right):
      if left == right:
        boats_number += 1
        break
      if people[left] + people[right] <= limit:
        left += 1
        
      right -= 1
      boats_number += 1
      
    return boats_number

In [ ]:
s = Solution()
#[2,3,1,4], limit = 4
# [1,2,3,4]
#[4]
#[1,4]
#[2]
people = [2,3,1,4]
limit = 4
answer = s.numberRescueBoats(people, limit)

In [ ]:
print(answer)

3

In [ ]:
result = ''
lst_dict_1= [{"x":116,"y":404},{"x":161,"y":617},{"x":16,"y":97},{"x":430,"y":536},{"x":601,"y":504},{"x":425,"y":461},{"x":114,"y":544},{"x":127,"y":118},{"x":163,"y":357},{"x":704,"y":104},{"x":864,"y":125},{"x":847,"y":523},{"x":742,"y":170},{"x":204,"y":601},{"x":421,"y":377},{"x":808,"y":49},{"x":860,"y":466},{"x":844,"y":294},{"x":147,"y":213},{"x":550,"y":124},{"x":238,"y":313},{"x":57,"y":572},{"x":664,"y":190},{"x":612,"y":644},{"x":456,"y":154},{"x":120,"y":477},{"x":542,"y":313},{"x":620,"y":29},{"x":245,"y":246},{"x":611,"y":578},{"x":627,"y":373},{"x":534,"y":286},{"x":577,"y":545},{"x":539,"y":340},{"x":794,"y":328},{"x":855,"y":139},{"x":700,"y":47},{"x":275,"y":593},{"x":130,"y":196},{"x":863,"y":35}]
for item in lst_dict_1:
  result += str(item['x'])

print(result)

1161611643060142511412716370486484774220442180886084414755023857664612456120542620245611627534577539794855700275130863

In [ ]:
lst = [{'one':1},{'two':2},{'three':3},{'four':4},{'five':5},{'six':6},{'seven':7},{'height':8},{'nine':9},{'ten':10},{'eleven':11},{'twelve':12},{'thirteen':11},{'fourteen':14},{'fifteen':15},{'sixteen':16},{'seventeen':17},{'heighteen':18},{'nineteen':19},{'twenty':20},{'thirty':30},{'forty':40},{'fifty':50},{'sixty':60},{'seventy':70},{'heighty':80},{'ninety':90},{'hundred':00},{'thousand':000},{'million':000000},{'billion':000000000} ]
result = ''
input = 'thirty thousand one hundred twelve'
numbers = input.split(' ')
for number in numbers:
  for item in lst:
    int_value = item.get(number, False)
    if int_value:
      result += str(item.get(number))
print(result)

30112

In [ ]:
import numpy as np

## Slice
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
#    0, 1, 2, 3, 4, 5, 6, 7, 8
#   -9,-8,-7,-6,-5,-4,-3,-2,-1  
print('a[-1]=', a[-1])   # last item in the array
print('a[-2:]=', a[-2:])   # last two items in the array
print('a[:-2]=', a[:-2])  # everything except the last two items
#Similarly, step may be a negative number:
print('a[::-1]=', a[::-1])   # all items in the array, reversed
print('a[1::-1]=', a[1::-1])  # the first two items, reversed
print('a[:-3:-1]=', a[:-3:-1]) # the last two items, reversed
print('a[-3::-1]=', a[-3::-1]) # everything except the last two items, reversed
print('a[2::-2]=', a[2::-2])

a[-1]= 9
a[-2:]= [8, 9]
a[:-2]= [1, 2, 3, 4, 5, 6, 7]
a[::-1]= [9, 8, 7, 6, 5, 4, 3, 2, 1]
a[1::-1]= [2, 1]
a[:-3:-1]= [9, 8]
a[-3::-1]= [7, 6, 5, 4, 3, 2, 1]
a[2::-2]= [3, 1]

In [ ]:
COMPUTERS = ['C','O','M','P','U','T','E','R','S']
#             0   1   2   3   4   5   6   7   8      
#            -9  -8  -7  -6  -5  -4  -3  -2  -1 
'''
COMPUTERS[ 4 : 7 ]     =  UTE
COMPUTERS[ 2 : 5 : 2 ] =  MU
COMPUTERS[-5 : 1 :-1 ] =  UPM
COMPUTERS[ 4 ]         =  U
COMPUTERS[-4 :-6 :-1 ] =  TU
COMPUTERS[ 2 :-3 : 1 ] =  MPUT
COMPUTERS[ 2 :-3 :-1 ] =  
COMPUTERS[   :   :-1 ] =  SRETUPMOC
COMPUTERS[-5 :   ]     =  UTERS
COMPUTERS[-5 : 0 :-1 ] =  UPMO
COMPUTERS[-5 :   :-1 ] =  UPMOC
COMPUTERS[-1 : 1 :-2 ] =  SEUM
'''

'\nCOMPUTERS[ 4 : 7 ]     =  UTE\nCOMPUTERS[ 2 : 5 : 2 ] =  MU\nCOMPUTERS[-5 : 1 :-1 ] =  UPM\nCOMPUTERS[ 4 ]         =  U\nCOMPUTERS[-4 :-6 :-1 ] =  TU\nCOMPUTERS[ 2 :-3 : 1 ] =  MPUT\nCOMPUTERS[ 2 :-3 :-1 ] =  \nCOMPUTERS[   :   :-1 ] =  SRETUPMOC\nCOMPUTERS[-5 :   ]     =  UTERS\nCOMPUTERS[-5 : 0 :-1 ] =  UPMO\nCOMPUTERS[-5 :   :-1 ] =  UPMOC\nCOMPUTERS[-1 : 1 :-2 ] =  SEUM\n'

In [ ]:
COMPUTERS[ 2 :-3 :-1 ]

[]

In [ ]:
#This is a Python Program to Calculate the Average of Numbers in a Given List.
def average_solution(lst):
  total = sum(lst)
  ave = total/len(lst)
  return round(ave, 2)

list_numbers = [2, 3, 1, 4, 5, 12, 4, 32]
print(average_solution(list_numbers))

7.88

In [ ]:
#reverse a given number
def reverse_number_solution(number):
  number_str = str(number)
  digits = list(number_str)
  reverse = reversed(digits)

  return ''.join(reverse)
result = reverse_number_solution(3137007)
print (result)

7007313

In [ ]:
#exchange the values of two numbers without using a temporary variable.
a = 7
b = 5
a = a + b # 12
b = a - b # 12 - 5 = 7
a = a - b # 12 - 7 - 5
print('a =',a,', b =', b)

a= 5 , b= 7

In [ ]:
#find the sum of digits in a number.
def sum_of_digits_solution(number):
  number_str = str(number)
  digits = list(number_str)
  return sum(list(map(lambda x: int(x), digits)))
result = sum_of_digits_solution(3137007)
print(result)

21

In [ ]:
#find the smallest divisor of an integer
def  smallest_divisor_solution(number):
  result = []
  for i in range(2, number+1):
      if number%i == 0:
        result.append(i)
  return min(result)
numbers = [1,2,3,4,5,6,7,8,9,10]
result = smallest_divisor_solution(64)
print(result)

2

In [ ]:
#check whether a given number is a palindrome
def is_number_a_palindrome(number):
  nbr_str = str(number)
  nbr_str_reverse = ''.join(list(reversed(list(nbr_str))))

  return nbr_str == nbr_str_reverse

is_number_a_palindrome(1098601)

False

In [ ]:
#read a number n and print and compute the series 1+2++n=
def compute_series(n):
  if n==0:
    return
  result = 0
  for i in range(1, n+1):
    result += i

  return result

result = compute_series(4)
print(result)

10

In [ ]:
#read a number n and print the natural numbers summation pattern.
def print_numbers_summation_pattern(n):
  for i in range(1, n+1):
    summ = []
    for j in range(1, i+1):
      print(j, sep=' ', end=' ')
      if j <i:
        print('+', sep=' ', end=' ')
      summ.append(i)
    print('=', sum(summ))
  print()

print_numbers_summation_pattern(4)

1= 1
1+ 2= 4
1+ 2+ 3= 9
1+ 2+ 3+ 4= 16

In [ ]:
# number n and print an identity matrix of the desired size.
def identity_matrix(n):
  for i in range(n):
    for j in range(n):
      if i == j:
        print("1",sep=" ",end=" ")
      else:
        print("0",sep=" ",end=" ")
    print()

identity_matrix(4)

1 0 0 0
0 1 0 0
0 0 1 0
0 0 0 1

In [ ]:
#Print an Inverted Star Pattern
def print_an_inverted_star_pattern(n):
  result = ''
  for i in range(n,0, -1):
    result = '*' * i
    print((n-i)*' ' + result)

print_an_inverted_star_pattern(10)

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [ ]:
#print prime numbers
def print_prime_numbers(n):
  for i in range(2,n+1):
    for j in range(2,i):
      if i%j==0:
        break
    else:
      yield i 
list(print_prime_numbers(15))

[2, 3, 5, 7, 11, 13]

In [ ]:
#check if prime numbers
def is_prime_numbers(n):
  if n <= 1:
    return False
    
  result = False
  for i in range(2, n+1):
    for j in range(2,i):
      if i%j==0:
        result = False
        break
    else:
      if i == n:
        result = True
        break

  return result
    
  

is_prime_numbers(2)

True

In [ ]:
#check if prime numbers
def is_prime_numbers2(n):
  if n <= 1:
    return False
  
  for i in range(2, (n//2)+1):
    if n%i == 0:
      return False
  else:
    return True

is_prime_numbers2(4)

False

In [10]:
#find the largest number in a list
numbers = [2, 3, 1, 4, 5, 12, 4, 32]
print('largest number=',max(numbers))
numbers = sorted(numbers)
print('largest number=',numbers[len(numbers)-1])
numbers = [2, 3, 1, 4, 5, 12, 4, 32]
numbers.sort()
print('largest number=',numbers[len(numbers)-1])
print('largest number=',numbers[-1])

#find the second largest number in a list.
numbers = [2, 3, 1, 4, 5, 12, 4, 32]
numbers.sort()
print('second largest number=',numbers[len(numbers)-2])

largest number= 32
largest number= 32
largest number= 32
largest number= 32
second largest number= 12

In [14]:
#sort the list according to the second element in the sublist.

a=[['B',21],['A',34],['C',26]]
a = sorted(a, key=lambda x: x[1])
print(a)

[['B', 21], ['C', 26], ['A', 34]]

In [20]:
#sort the list using bubble sort according to the second element in the sublist.
a=[['B',21],['A',34],['C',26]]
size = len(a)
for i in range(size):
  for j in range(size-1):
    if a[j][1] > a[j+1][1]:
      a[j], a[j+1] = a[j+1], a[j]
      

print(a)

[['B', 21], ['C', 26], ['A', 34]]

In [21]:
#find the second largest number in a list using bubble sort.
numbers = [2, 3, 1, 4, 5, 12, 4, 32]
size = len(numbers)
for i in range(size):
  for j in range(size-1):
    if numbers[j] > numbers[j+1]:
      numbers[j] , numbers[j+1] = numbers[j+1] , numbers[j]
print(numbers[-2])

12

In [25]:
#sort a list according to the length of the elements
a=[['B',21,0,8],['A',34],['C',26,'pl']]
a = ['Ford', 'Mitsubishi', 'BMW', 'VW']
a = sorted(a, key=lambda x: len(x))
print(a)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [24]:
len(['B', 21, 0, 8])

4

In [35]:
a = [1,2,3,4,5]
b = [1,3,5,6]
list(set(a) & set(b))

[1, 3, 5]

In [38]:
#create a list of tuples with the first element as the number and the second element as the square of the number.

def create_list_of_tupples(n):
  for i in range(1, n+1):
    yield (i, i**2)
list(create_list_of_tupples(10))

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100)]

In [64]:
#create a list of of all numbers in a range which are perfect squares and the sum of the digits of the number is less than 10.

def perfect_squares(n): 
  for i in range(1, n+1):
    is_perfect_square = (int(i**0.5))**2 == i
    digits = [int(i) for i in str(i) ]
    #digits = list(map(int,str(1)))
    total = sum(digits)
    if is_perfect_square and total < 10:
      yield i

list(perfect_squares(10))

[1, 4, 9]

In [65]:
# find the cumulative sum of a list where the ith element is the sum of the first i+1 elements from the original list.
a = [2, 3, 1, 4, 5, 12, 4, 32]
b= [sum(a[0:x+1]) for x in range(0,len(a))]
print("The original list is: ",a)
print("The new list is: ",b)

The original list is:  [2, 3, 1, 4, 5, 12, 4, 32]
The new list is:  [2, 5, 6, 10, 15, 27, 31, 63]

In [75]:
#generate random numbers from 1 to 20 and append them to the list.

import random
def generate_random_number(n):
  for i in range(0, n):
    yield random.randint(1,20)

list(generate_random_number(10))

[4, 13, 8, 20, 12, 3, 12, 10, 8, 15]

In [83]:
#sort a list of tuples in increasing order by the last element in each tuple.
tuples = [(10, 50), (20, 'Python',98), (30, 'JournalDev',66)]
list(sorted(tuples, key=lambda x: x[-1]))

[(10, 50), (30, 'JournalDev', 66), (20, 'Python', 98)]